* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: #FAFAFA;
}
.mv-title, .nav-list-item {
	font-family:'Raleway', sans-serif ;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.container {
	width: 1024px;
	margin: 0 auto;
}

/*-----header-----*/

header {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	position: relative;
}
.logo {
	height: 70px;
	float: left;
}
.nav-list {
	float: right;
}

.nav-list-item  {
	list-style: none;
	margin: 0 30px;
	font-size: 16px;
	line-height: 70px;
	display: inline-block;
}

#sp-menu {
	display:none;
}


/*-----header-image-----*/

.header-image {
	width: 100%;
	height: 650px;
	background-image: url(../img/mv.png);
	background-size: cover;
	background-position: center;
}
.mv-title {
	width: 100%;
	padding-top: 200px;
	font-size: 64px;
	color: #FAFAFA;
	text-align: center;
}
.mv-text {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	color: #FAFAFA;
}

/*-----section共通項目-----*/

.section-title {
	padding-top: 90px;
	font-size: 32px;
	color: #000000;
	text-align: center;
}

.section-title:after {
	content: "";
	display: block;
	width: 70px;
	height: 3px;
	margin: 8px auto 0 auto;
	background-color: #EC715F;
}

.section-text {
	padding: 30px 0 30px 0;
	text-align: center;
	font-size: 16px;
	color: #000000;
}

/*-----Portfolio-----*/

#Portfolio {
	background-color: #ECEFF1;
}
.production-group {
	width: 920px;
	padding-bottom: 90px;
	margin: 0 auto;
}
.portfolio-box {
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
	float: left;
}
.portfolio-box:nth-child(1) {
	background-image: url(../img/sketch.jpg);
}
.portfolio-box:nth-child(2) {
	background-image: url(../img/websuku.png);
}
.portfolio-box:nth-child(3) {
	background-image: url(../img/write.jpg);
}
.portfolio-box:nth-child(4) {
	background-image: url(../img/webcamp.png);
}
.portfolio-box:nth-child(5) {
	background-image: url(../img/talk.jpg);
}
.portfolio-box:nth-child(6) {
	background-image: url(../img/webcamp-mother.png);
}
.portfolio-box:nth-child(3n) {
	margin-right: 0;
}
.portfolio-box:nth-child(-n+3) {
	margin-top: 0;
}

/*-----Feature-----*/

#Feature {
	padding: 90px 0 90px 0;
}
.feature-group:after {
	width: 920px;
	margin: 0 auto;
	padding-bottom: 90px;
}
.feature-box {
	width: auto 320px;
	padding-right: 10px;
	text-align: center;
	float: left;
}
.feature-box:last-child {
	padding-right: 0;
}
.feature-box i {
	font-size: 60px;
}
.Strength-title {
	padding: 10px 0 10px 0;
	font-size: 20px;
	color: #000000;
}
.Strength-text {
	text-align: left;
	font-size: 16px;
	color: #000000;
}

/*-----Profile-----*/

#Profile {
	background-color: #ECEFF1;
	padding-bottom: 90px;
}


.profile-left {
	width: 512px;
	float: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin: 0 auto;
	background-image: url(../img/my-icon.jpg);
}
.profile-right {
	width: 512px;
	float:right;
}

.profile-title {
	font-size: 20px;
	padding-bottom: 5px;
}
.myname-text {
	font-size: 16px;
	color: #000000;
	padding-bottom: 20px;
}
.myskils-text {
	font-size: 16px;
	color: #000000;
}

/*-----Contact-----*/

#Contact {
	padding-bottom: 90px;
}

.contact-group {
	width: 800px;
	margin: 0 auto;
}

.contact-left {
	width: 50%;
	float: left;
}
.contact-left-content {
	width: 130px;
	margin: 0 auto;
}

.contact-title {
	font-size: 20px;
	margin-bottom: 5px;
}
.contact-text {
	margin-bottom: 20px;
}
.contact-text:last-child {
	margin-bottom: 0;
}

.contact-right {
	width: 50%;
	float: left;
}

.contact-right-content {
	width: 180px;
	margin: 0 auto;
}

.contact-right-content i {
	font-size: 50px;
	margin-right: 20px;
}
.contact-right-content i:last-child {
	margin-right: 0;
}

/*-----footer-----*/

footer {
	width: 100%;
	height: 60px;
	background-color: #EC715F;
}

footer p {
	text-align: center;
	line-height: 60px;
	font-size: 16px;
	color: #FAFAFA;
}

/*----------------------------------------------------------------*/

@media screen and (max-width:767px) {

	/*全体の変更箇所*/

	.container {
		width: 90%;
	}

	/*headerの変更箇所*/

	header {
		height: 50px;
	}

	.logo {
		float: none;
		height: 50px;
	}

	.nav-list{
		display: none;
	}

	#hm-icon{
		position: absolute;
		float: right;
		right: 5%;
		top: 5%;
		z-index: 10;
	}

	.menu-trigger,
	.menu-trigger span{
		display: inline-block;
		transition: all ;
		box-sizing: border-box;
	}

	.menu-trigger {
		float: right;
		width: 40px;
		height: 40px;
		margin-right: 5% 5% 5% 0;
		border: 1px solid #FAFAFA;
	}

	.menu-trigger span {
		display: block;
		width: 25px;
		height: 2px;
		margin: 5px auto;
		background-color: #FAFAFA;
	}

	.menu-trigger span:nth-of-type(1) {
		margin-top: 10px;
	}


	.menu-trigger.active span:nth-of-type(1) {
		-webkit-transform: translateY(7px) rotate(-45deg);
		background-color: #fff;
	}

	.menu-trigger.active span:nth-of-type(2) {
		opacity: 0;
	}

	.menu-trigger.active span:nth-of-type(3) {
		-webkit-transform: translateY(-7px) rotate(45deg);
		background-color: #fff;
	}

	#sp-menu {
		position: fixed;
		top: 0;
		left: 0;
		background: #000;
		color: #fff;
		width: 100%;
		min-height: 100%;
	}

	#sp-menu li {
		text-align: center;
		margin-bottom: 30px;
	}

	#sp-menu a {
		color: #fff;
		text-decoration: none;
		font-weight: bold;
	}

	.header-image {

	}

	/*Portfolioの変更箇所*/

	.portfolio-box {
		float: none;
	}

}